h1{
    color: blue;
    font-family: arial;
    font-size: 25px;
    font-weight: 300
}

p1{
    font-family: arial;
    font-size: 25px;
    font-weight: 300
 }

 h2{
    color:blue;
    font-family: arial;
    font-size: 25px;
    font-weight: 300
 }

 p2{
    font-family: arial;
    font-size: 25px;
    font-weight: 300 
 }

 h3{
    color:blue;
    font-family: arial;
    font-size: 25px;
    font-weight: 300
 }

 h4{
    color:blue;
    font-family: arial;
    font-size: 25px;
    font-weight: 300
 }
 
 p3{
    font-family: arial;
    font-size: 30px;
    font-weight: 300 
 }

 body{
     background-color: rgb(231, 197, 197)
    
 }